<fieldset *ngIf="colors$ | async as colors">
    <form (submit)="add$.next(name)">
        <input
          name="name"
          placeholder="Enter color"
          autocomplete="off"
          [(ngModel)]="name"
        />
        <button>Add color</button>
        <button type="button" (click)="refresh$.next(null)">Refresh</button>
      </form>
    <p *ngFor="let color of colors">
      <button type="button" (click)="remove$.next(color)">
        X
      </button>
      {{color}}
    </p>
  </fieldset>