<div class="content">
    <img src="assets/icons/template.png"/>
    <div class="about">
        <p class="text-bold">
            Handoff your work smarter now
        </p>
        <p class="text-sm">
            Create documentation for the collaborators (i.e. 
            designers or devs) directly in your design file.
        </p>
        <div class="icons-wrapper">
            <div class="about-wrapper">
                <img src="assets/icons/icon-strategic.png"/>
                <div class="text-wrapper">
                    <p class="text-normal">Strategic</p>
                    <p class="text-sm">Suggests that the component spacing
                        between cards and elements.</p>
                </div>
            </div>
            <div class="about-wrapper">
                <img src="assets/icons/icon-calendar.png"/>
                <div class="text-wrapper">
                    <p class="text-normal">Work  schedule</p>
                    <p class="text-sm">work schedule is the time an employee is
                        expected to be on the job</p>
                </div>
            </div>
        </div>
    </div>
</div>
