<input type="checkbox" class="hamburger" id="btnControl"/>
<label class="btn" for="btnControl">
    <fa-icon class="hamb" [icon]="faFacebook"></fa-icon>
</label>
<div class="bl">
    <div class="element">
        <fa-icon class="menuIcon" [icon]="faYoutube"></fa-icon>
        <div class="menuText">
            YouTube
        </div>
    </div>
    <div class="element">
        <fa-icon class="menuIcon" [icon]="faInstagram"></fa-icon>
        <div class="menuText">
            Instagram
        </div>
    </div>
</div>