<header>
    <div>
        <span class="navText">ABOUT</span>
        <span class="navText">HOW IT WORKS</span>
        <span class="navText">CONTACT</span>
    </div>
    <div>
        <img src="assets/icons/Besnik.png"/>
    </div>
    <div class="circle">
        <img src="assets/icons/shopping-bag16.png"/>
    </div>
</header>
<div class="content">
    <div class="card-box">
        <div class="bank-text">
            Banking more smart
        </div>
        <div class="bank-text-sm">
            Meet the only spend management platform and corporate card.
        </div>
        <div class="card-content">
            <div class="rect">
                &#8594;
            </div>
            <div class="card-text">
                Get your card
            </div>
        </div>
    </div>
    <img src="assets/icons/card.png"/>
</div>
<div class="ads">
    <div>
        <div class="text-bold">
            Hot deals for you
        </div>
        <div class="bank-text-sm">
            Online shopping for retail sales direct to consumers
        </div>
    </div>
    <div>
        <div class="text-ad-small">
            1.5% cashback
        </div>
        <div class="bank-text-sm">
            Online shopping for retail sales direct to consumers
        </div>
    </div>
    <div>
        <div class="text-ad-small">
            30-day terms
        </div>
        <div>
            Online shopping for retail sales direct to consumers
        </div>
    </div>
    <div>
        <div class="text-ad-small">
            Save Money
        </div>
        <div class="bank-text-sm">
            Online shopping for retail sales direct to consumers
        </div>
    </div>
</div>

