<div class="three-quarters-circle"></div>
<div class="content">
    <div class="item">
        <div class="text-bold">
            We Building
            Social uniqueness
        </div>
        <div class="text-sm">
            The marketing strategy lays out target markets and the value.
        </div>
    </div>
    <div class="item">
        <div class="text-bold">
            Social Media
            beyond probability
        </div>
        <div class="text-sm">
            The marketing strategy lays out target markets and the value.
        </div>
    </div>
</div>