<div class="content">
    <div class="text-bold">
        1000+ Customer
    </div>
    <div class="text-sm text-wrapper">
        Analyze any Business or Creator account—including your competitors—to find the imagery,
        visuals, and captions that drive audience engagement. Get social calendars planned faster
        and spend less time testing content strategies.
    </div>
    <div class="line"></div>
    <div class="ad-container">
        <div class="ad">
            <p class="ad-text-big">PRODUCT</p>
            <p class="ad-text-sm">10,0000+</p>
        </div>
        <div class="ad">
            <p class="ad-text-big">LIKES</p>
            <p class="ad-text-sm">45600</p>
        </div>
        <div class="ad">
            <p class="ad-text-big">SALE</p>
            <p class="ad-text-sm">576864</p>
        </div>
        <div class="ad">
            <p class="ad-text-big">CUSTOMERS</p>
            <p class="ad-text-sm">947444</p>
        </div>
    </div>
    <div class="line"></div>
</div>