
    <h3>
      Choose your seats
    </h3>
  
    <section class="cinema">
      <button
        class="seat"
        (click)="selectedSeat$.next(1)"
      >
        {{1}}
      </button>
      <button
        class="seat"
        (click)="selectedSeat$.next(2)"
      >
        {{2}}
      </button>
      <button
      class="seat"
      (click)="selectedSeat$.next(3)"
    >
      {{3}}
    </button>
    </section>
  
    <ng-container *ngIf="selectedMessage$ | async as message">
      Selected: {{message}}
  
      <button
        class="buy"
        [disabled]="message === empty"
        (click)="selectedSeat$.complete()"
      >
        Buy
      </button>
    </ng-container>