<div class="content">
    <div>
        <span class="navText">ABOUT</span>
        <span class="navText">HOW IT WORKS</span>
        <span class="navText">CONTACT</span>
    </div>
    <div>
        <img src="assets/icons/Besnik.png"/>
    </div>
    <div class="socialButtons">
        <p class="socialText">Signup</p>
        <p class="socialText">Login</p>
        <fa-icon [icon]="faFacebook"></fa-icon>
        <fa-icon [icon]="faInstagram"></fa-icon>
        <fa-icon [icon]="faYoutube"></fa-icon>
    </div>
</div>
<footer>
    <p class="textBottom">Copyright © 2020.Besnik creative</p>
    <div class="line"></div>
    <p class="textBottom">Designed by Besnik</p>
</footer>