<p>{{ title }} home works!</p>

<div class="container mat-elevation-z8">
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="table-container">
        <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

            <ng-container matColumnDef="temp2m">
                <div *matHeaderCellDef>temp</div>
                <div *matCellDef="let el">{{el.temp2m}}</div>
            </ng-container>

            <ng-container matColumnDef="cloudcover">
                <div *matHeaderCellDef>cloudcover</div>
                <div class="description-cell" *matCellDef="let el">{{el.cloudcover}}</div>
            </ng-container>

            <ng-container matColumnDef="direction">
                <div *matHeaderCellDef>direction</div>
                <div class="duration-cell" *matCellDef="let el">{{el.wind10m.direction}}</div>
            </ng-container>

            <ng-container matColumnDef="speed">
                <div *matHeaderCellDef>speed</div>
                <div class="duration-cell" *matCellDef="let el">{{el.wind10m.speed}}</div>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>
    </div>
</div>